html,
body {
  position: relative;
  height: 100%;
  margin:0;
  overflow: hidden;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 20px;
  padding: 0;
}

.swiper-container {
  width: 90%;
  height: 90%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.btn-floating {
top: -3rem;
left: 4rem;
}

.btn-floating i {
 font-size: 2rem !important;
    font-weight: bold !important;
}

.btn-eye {
 left: -11px !important;
 top:-9rem;
 }

iframe {
    margin: 10px;
    border:none;
}

.swiper-slide{
    --animate-duration: 1.5s;
  }
.swiper-pagination-bullet {
  padding: 7px;
}

.swiper-pagination {
	position: absolute;
	right: 10px;
	width: auto !important;
	left: auto !important;
	margin-top: 40px;}
